
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HAC Web Test</title>
    <link href="../../CSS/bootstrap.min.css" rel="stylesheet">
    <link href="../../CSS/bootstrap-theme.min.css" rel="stylesheet">
</head>


<body role="document" id="body">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }
        function request() {
            $.ajax({
                url: 'http://saneweb.crackedsidewalks.com/getData/?username=kobrien',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (key, value) {
                        $("#body").prepend('<h2>' + key + '</h2><table class="table table-hover table-striped" id="' + key.split(' ').join('-') + '"><thead><tr><th>Course</th><th>Assignment</th><th>Grade</th><th>Due</th></tr></thead><tbody></tbody></table>');
                        for (var i = 0; i < value.length; i++) {
                            $("#" + key.split(' ').join('-') + " > tbody:last-child").append("<tr><td>" + value[i].course + "</td><td>" + value[i].classwork + "</td><td>" + value[i].points + "</td><td>" + value[i].dueDate + "</td></tr>");
                        }
                    });
                },
            })
        }
        request();
    </script>
</body>
</html>
